.articles {
  width: 1040px;
  margin: auto;

  @media (max-width: 1200px) {
    width: 100%;
    margin: auto;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1040px;
    margin: auto;

    @media (max-width: 1200px) {
      width: 100%;
      justify-content: center;
      padding-bottom: 100px;
    }
  }

  &__text {
    width: 50%;
    justify-content: center;
    

    h1 {
      font-style: normal;
      font-weight: 900;
      font-size: 52px;
      line-height: 61px;
      align-items: center;
      text-align: center;
      letter-spacing: -0.01em;
    }

    p {
      font-style: normal;
      font-weight: 900;
      font-size: 17px;
      line-height: 26px;
      align-items: center;
      text-align: center;
      color: #6E84A3;
    }

    &-btn {
      display: flex;
      width: 153px;
      height: 50px;
      background: #335EEA;
      border-radius: 6px;
      margin: auto;

      a {
        color: white;
        font-style: normal;
        font-weight: 900;
        font-size: 17px;
        line-height: 26px;
        align-items: center;
        text-align: center;
        text-decoration: none;
        margin: auto;
      }
    }
  }

  &__notfound {
    padding-bottom: 300px;

    @media (max-width: 1200px) {
      display: none;
    }
  }
}